@import url('theme.css');

*{
    padding: 0px;
    margin: 0px;

}

html, body 
{ 
    height: 100%;
    background-color: #5a5a5a;

    font-family: var(--font-main);
}

body{
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;

}
/*navbar na lateral esquerda*/
.listNav{
    list-style: none;
    top: 7%;
    position: relative;
    width: 100%; 
    z-index: 1;
}

img{
    width: 40px;
}

nav
{

    background-color: #5a5a5a;
    /* border-top-right-radius: 100px; */
    width: 225px;
    height: 100%;
    transition: all 0.5s;
    padding-top: 26px; 
     

}


#park{  
    position: relative;
    text-align: center;
    color: black;
    font-weight: 800;
    display: block;
}

span.blue {
    color: #0177bf;
}

span.green {
    color: #5cb678;
}


.listNav li a{
    
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 28px 5px;
}
.listNav li a:hover{
    color: #fbfbfb;
    box-shadow: 5px 0px 25px 1px aliceblue;
    transition: all 0.5s;

}

#version{
    text-align: center;
    
    font-size: 13px;
    margin-top: 25%;
    color: black;
}


/* POSSÍVEL HOME */

#listHome{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #5a5a5a;
}
#listHome li a{
    text-decoration: none;
    height: 100%;
    
    color: wheat;
}
#listHome li input{
    
    border-radius: 40px;
}


.bemVindo{
    color:rgb(35,35,35);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%; 
    display: flex;
}
 /*DADOS ESTACIONAMENTO*/
#container{
    display: flex;
    justify-content: right;
    width: 90%;
    height: 30%;
    margin-left: 5%;
}
#box{
    /*margin-top: 20px; */
    height:45vh; 
    width:41vw;
    border-radius: 25px;
    color: black;
    border: 1px black solid;
}
.listDados{
    height: 100%;
    align-items: center;
    font-size: 15px;
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-around;    
    
}

.listDados li {
    text-align: center; 
    font-size: 18px;
}
.listDados li span{
    font-size: 30px;
}



/*GRAFICOS REFERENTE AO ESTACIONAMENTOL*/
.anali{
    display: flex;
    margin-left: 5%;
    width: 90%;   
    justify-content: space-evenly;
    border: 1px solid black;
}
.anali div{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    text-align: center;
}
.anali div span{
    background-color: #5a5a5a;
    display: flex;
    height: 40%;
    align-items: center ;
    text-align: center;
    justify-content: center;
    width: 100%;

}


#kpi{
    display: flex;
    justify-content: space-evenly;
    width: 100%; 

}
#kpi div{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    display: flex;
    border-radius: 5%;
    margin-top: 80px;

    border: 1px solid black;
    box-shadow: 10px 5px 5px black;

    height: 35vh;
    background-color: #ffffff;
    width: 27%;
}

#graficos{
    display: flex;
    
}
#grafico{
    color: white;
    border: 1px black solid;
    height:45vh;
    width:35vw;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 25px;

    /* border-radius: 10%;*/
}