@import url('theme.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --roxo-claro: #AE9FF0;
    --cinza-claro: #5a5a5a;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: var(--font-main);
}

body {
    height: 100vh;
    background-color: #ebebf8 !important;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
}

.listNav {
    list-style: none;
    position: relative;
    width: 100%;
    z-index: 1;
}

.listNav li {
    display: flex;
    height: 4.5rem;
    align-items: center;
    margin-left: 2.3rem;
    gap: .2rem;
    font-size: .9rem;
    transition: all 100ms;
}

.listNav li:hover {
    margin-left: 2.6rem;
    transition: all 100ms;
}

.listNav li i {
    font-size: 1.5rem;
    color: var(--cinza-claro);
}

.active-page * {
    font-weight: 700 !important;
    color: var(--roxo-claro) !important;
}

nav {
    position: relative;
    border-right: 1px var(--cinza-claro) solid;
    width: 225px;
    height: 100%;
    transition: all 0.5s;
    display: flex;
    align-items: center;
}

.listNav li a {
    text-decoration: none;
    color: var(--cinza-claro);
    text-align: center;
    display: block;
    padding: 28px 5px;
}

#version {
    position: absolute;
    bottom: 1rem;
    left: 28%;
    text-align: center;
    font-size: 13px;
    color: black;
}

#logout-icon {
    transition: all 100ms;
}

#logout-icon:hover * {
    color: red !important;
    transition: all 100ms;
}

.title{
    font-family: 'Rubik', sans-serif;
}

.bemVindo{
    margin: 2rem 0 0 2rem;
    font-size: 1.6rem;
}

.kpi{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #872ed1;
    width: 13rem;
    height: 3.3rem;
    border-radius: 4px;
    justify-content: center;
}

.kpi .kpiTitle{
    padding-left: 1rem;
    font-weight: 700;
}

.kpi .kpiInfo{
    padding-left: 1rem;
}