@import url('theme.css');

*{
    padding: 0px;
    margin: 0px;

}

html, body 
{ 
    height: 100%;
    font-family: var(--font-main);

}

body{
    display: flex;
    background-color: #fbfbfb;
    overflow: hidden;
    overflow-y: hidden;

}
/*navbar na lateral esquerda*/
.listNav{
    list-style: none;
    top: 7%;
    position: relative;
    width: 100%; 
    z-index: 1;
}

img{
    width: 40px;
}

nav
{

   border-right: 1px #0077be solid;

    width: 225px;
    height: 100%;
    transition: all 0.5s;
    padding-top: 26px; 
     

}


#park{  
    position: relative;
    text-align: center;
    color: black;
    font-weight: 800;
    display: block;
}

span.blue {
    color: #0177bf;
}

span.green {
    color: #5cb678;
}


.listNav li a{
    
    text-decoration: none;
    color: #5a5a5a;
    text-align: center;
    display: block;
    padding: 28px 5px;
}
.listNav li a:hover{
    background-color:#0077be;
    color: #fbfbfb;
    box-shadow: 5px 0px 25px 1px aliceblue;
    transition: all 0.5s;

}

#version{
    text-align: center;
    
    font-size: 13px;
    margin-top: 25%;
    color: black;
}

/* POSSÍVEL HOME */
/* 
#listHome{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: #4980FB;
}
#listHome li a{
    text-decoration: none;
    height: 100%;
    
    color: wheat;
}
#listHome li input{
    
    border-radius: 40px;
}
#listHome li{
    background-color: #4980FB;

}
*/

.bemVindo{
    color:rgb(35,35,35);
    margin-left: 5%; 
}
 /*DADOS ESTACIONAMENTO*/
#container{
    display: flex;
    justify-content: right;
    width: 90%;
    height: 30%;
    margin-left: 5%;
}
#box{
    /*margin-top: 20px; */
    height:45vh; 
    width:41vw;
    border-radius: 25px;
    color: black;
    border: 1px black solid;
}
.listDados{
    height: 100%;
    align-items: center;
    font-size: 15px;
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-around;    
    
}

.listDados li {
    text-align: center; 
    font-size: 18px;
}
.listDados li span{
    font-size: 30px;
}



/*GRAFICOS REFERENTE AO ESTACIONAMENTOL*/
.containerSetor{
    width: 95%; 
    margin-left: 5%;
    border-radius: 25px;
    height:45vh; 
    width:41vw;
    border: 1px black solid;

}


#graficos{
    display: flex;
    
}
#grafico{
    color: white;
    border: 1px black solid;
    height:45vh;
    width:35vw;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 25px;

    /* border-radius: 10%;*/
}