@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1&display=swap%27');

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    margin: 0 ;
    overflow-x: hidden;
}
.header{
    display: flex;
    border-bottom: 2px solid #0077be  ;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
}

.header .container {
    justify-content: space-around;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: white;
}
.header a:hover{
    color: #0077be;
    transition: 0.3s all;

}
.titulo h1{
    display: flex;
    text-align: center;
    margin-left: 40px ;
    font-weight: bolder;
    font-size: 23px;
}
.navbar{
    width: 500px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 12px;
}

 .agora{
    font-weight: 3000px;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 10px;
    justify-content: space-evenly;
}

.frase{
    display: flex;
    font-size: 23px;
    text-align: center;
    justify-content: space-evenly;
    height: 200px;
    margin-top: 50px;
}
.imagem{
    display: flex;
    
}

.sobrenos{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    font-size: 22px;
    margin-left: 15px;
    line-height: 1px;
}
.texto_sobrenos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 160px;

}
.texto_sobrenos p{
    display: flex;
    line-height: 20px;
    max-width: 980px;
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    
}

.produto{
    display: flex;
    margin-left: 15px;
    align-items: center;
    height: 110px;
    margin-bottom: 180px;
    flex-direction: column;
    text-align: center;
}

.titulo_produto{
    display: flex;
    justify-content: end;
    margin-left: 15px;
    margin-right: 18px;
    font-size: 22px;
    
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    
}
.info2{
    display: flex;
    justify-content: center ;
    height: 12px;
}

.main{
    display: flex;
    flex-direction:row ;
    width: 100%;
    align-items: center;
    
}
.input{
    display: flex;
    flex-direction: column;
    width: 750px;
    
}

.nome_email{
    display: flex;
    height: 25px;
    width: 700px;
    border: 0;
    border-radius: 12px;
}
.desc{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 160px;
    border: 0;
    border-radius: 12px;
    justify-content: center;
}
textarea{
    width: 500px;
    height: 150px;
    border: 0;
    border-radius: 12px;   
}

.botao {
    display: flex;
    justify-content: center;
    height: 25px;
    width: 95px;  
    font-size: 15px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 12px;
}
 .botao:hover{
    background-color: #0077be;
    transition: 0.3s all;
}

.linha{
    border-top: #0077be solid;
    margin-bottom: 50px;
}

.texto-produto{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}